div.cover, img.cover {
  width:100vw;
  height:100vh;
}

#loader {
  display:none;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-x:hidden;
}

.relative {
  position:relative;
}

.absolute {
  position:absolute;
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}

div.back {
  z-index:-2;
  background-position: center;
  background-attachment:fixed;
  background-size: cover;
  position:fixed;
  left:0;
  top:0;
}

h1.title {
  font-size:4.2em;
  font-family:'Lora', serif;
  padding-top: 3vh;
  margin-bottom: 30px;
  margin-top:0 !important;
  font-weight:normal;
}
